/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* ===== BODY ===== */
body {
    min-height: 100vh;
  background: #e5e7eb;
}

/* ===== HEADER ===== */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #0d2a52;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    height: 45px;
}

.logo span {
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s;
}

.navbar a:hover {
    color: #ffcd00;
}

/* ===== MAIN ===== */
main {
    padding-top: 150px;
    display: flex;
    justify-content: center;
}


/* ===== CONTENEDOR PRINCIPAL ===== */
.contenedor-tareas {
    background: white;
    width: 70%;
    max-width: 900px;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
}

/* ===== TITULO ===== */
.contenedor-tareas h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #0d2a52;
}

/* ===== TARJETA TAREA ===== */
.tarea-card {
    background: #f4f6fa;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 18px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.tarea-card b {
    display: block;
    margin-bottom: 6px;
}

.tarea-card input {
    width: 80px;
    padding: 6px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #aaa;
}

.tarea-card button {
    padding: 7px 15px;
    background: #1e4fa3;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 10px;
}

.tarea-card button:hover {
    background: #163a78;
}
