body {
    margin: 0;
    font-family: Arial;
    background: #f5f6fa;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background: #002b5c;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar .active {
    color: #ffcd00;
}

main {
    padding: 30px;
}

.tarea {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    position: relative;
}

.calificar-btn {
    position: absolute;
    right: 15px;
    bottom: 15px;
    padding: 6px 15px;
}

.modal {
    display: none;
    position: fixed;
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
}

.modal-content {
    background: white;
    padding: 25px;
    width: 300px;
    margin: 150px auto;
    text-align: center;
}

#cerrar {
    float: right;
    cursor: pointer;
}
